{
    "openapi": "3.0.3",
    "info": {
        "title": "FEXDI X IFSE 2026 — player API",
        "version": "v1",
        "description": "Generated by tools/openapi-gen.php from the running router, the controllers'\nvalidate() rules, and a live probe of GET responses. Do not edit by hand: the\nhand-written contract drifted, which is why this file exists.\n\nSemantics a schema cannot carry — that submit stays open after time_expired, that\nfun_game answers score zero, the minimum interval between position posts — live in\nAPK-BUILD-GUIDE.md and still have to be read.",
        "x-behaviour-guides": {
            "API-V1-CONTRACT.md": "43a9817f9d32282b",
            "APK-BUILD-GUIDE.md": "b7abd3d19d810031",
            "APK-WORK-ORDER.md": "655629faa868214b"
        }
    },
    "servers": [
        {
            "url": "https://questerra-series.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "description": "Laravel Sanctum personal access token"
            }
        }
    },
    "paths": {
        "/api/v1/app/release": {
            "get": {
                "operationId": "api.v1.app.release",
                "summary": "api.v1.app.release",
                "x-auth": "public",
                "x-access-window": false,
                "x-rate-limit": "kiosk",
                "responses": {
                    "200": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "download_url": {
                                            "type": "string"
                                        },
                                        "latest_name": {
                                            "type": "string"
                                        },
                                        "latest_version": {
                                            "type": "integer"
                                        },
                                        "minimum_version": {
                                            "type": "integer"
                                        },
                                        "notes": {
                                            "type": "string"
                                        },
                                        "reported_at": {
                                            "type": "string"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "api.v1.app.release.report",
                "summary": "api.v1.app.release.report",
                "x-auth": "public",
                "x-access-window": false,
                "x-rate-limit": "feedback",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "download_url": {
                                        "nullable": true,
                                        "maxLength": 500,
                                        "type": "string",
                                        "x-laravel-rules": "nullable|url|max:500"
                                    },
                                    "notes": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 2000,
                                        "x-laravel-rules": "nullable|string|max:2000"
                                    },
                                    "version_code": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 100000,
                                        "x-laravel-rules": "required|integer|min:1|max:100000"
                                    },
                                    "version_name": {
                                        "type": "string",
                                        "maxLength": 32,
                                        "x-laravel-rules": "required|string|max:32"
                                    }
                                },
                                "required": [
                                    "version_code",
                                    "version_name"
                                ]
                            }
                        }
                    }
                },
                "x-unparsed-rules": {
                    "download_url": [
                        "url"
                    ]
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/ar/locations/{id}": {
            "get": {
                "operationId": "api.v1.ar.location",
                "summary": "api.v1.ar.location",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/auth/login": {
            "post": {
                "operationId": "api.v1.auth.login",
                "summary": "api.v1.auth.login",
                "x-auth": "public",
                "x-access-window": false,
                "x-rate-limit": "auth",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "device_name": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 120,
                                        "x-laravel-rules": "nullable|string|max:120"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "x-laravel-rules": "required|email"
                                    },
                                    "password": {
                                        "type": "string",
                                        "x-laravel-rules": "required|string"
                                    }
                                },
                                "required": [
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/auth/login-code": {
            "post": {
                "operationId": "api.v1.auth.login-code",
                "summary": "api.v1.auth.login-code",
                "x-auth": "public",
                "x-access-window": false,
                "x-rate-limit": "login-code",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "maxLength": 200,
                                        "x-laravel-rules": "required|string|max:200"
                                    },
                                    "device_name": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 120,
                                        "x-laravel-rules": "nullable|string|max:120"
                                    }
                                },
                                "required": [
                                    "code"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "operationId": "api.v1.auth.logout",
                "summary": "api.v1.auth.logout",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/auth/me": {
            "get": {
                "operationId": "api.v1.auth.me",
                "summary": "api.v1.auth.me",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "access_window_ends_at": {
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "user": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "role": {
                                                    "type": "string"
                                                },
                                                "team_id": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/branding": {
            "get": {
                "operationId": "api.v1.branding",
                "summary": "api.v1.branding",
                "x-auth": "public",
                "x-access-window": false,
                "x-rate-limit": "kiosk",
                "responses": {
                    "200": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "branding": {
                                            "type": "object",
                                            "properties": {
                                                "app_name": {
                                                    "type": "string"
                                                },
                                                "logo_icon": {
                                                    "type": "string"
                                                },
                                                "logo_wide": {
                                                    "type": "string"
                                                },
                                                "tagline": {
                                                    "type": "string"
                                                },
                                                "theme_color": {
                                                    "type": "string"
                                                },
                                                "version": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/contract": {
            "get": {
                "operationId": "api.v1.contract.show",
                "summary": "api.v1.contract.show",
                "x-auth": "public",
                "x-access-window": false,
                "x-rate-limit": "kiosk",
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/contract/feedback": {
            "post": {
                "operationId": "api.v1.contract.feedback",
                "summary": "api.v1.contract.feedback",
                "x-auth": "public",
                "x-access-window": false,
                "x-rate-limit": "feedback",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "client_version": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 32,
                                        "x-laravel-rules": "nullable|string|max:32"
                                    },
                                    "contract_sha": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 32,
                                        "x-laravel-rules": "nullable|string|max:32"
                                    },
                                    "detail": {
                                        "type": "string",
                                        "maxLength": 4000,
                                        "x-laravel-rules": "required|string|max:4000"
                                    },
                                    "kind": {
                                        "type": "string",
                                        "x-laravel-rules": "required|string|in:"
                                    },
                                    "subject": {
                                        "type": "string",
                                        "maxLength": 160,
                                        "x-laravel-rules": "required|string|max:160"
                                    }
                                },
                                "required": [
                                    "detail",
                                    "kind",
                                    "subject"
                                ]
                            }
                        }
                    }
                },
                "x-unparsed-rules": {
                    "kind": [
                        "in:"
                    ]
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/contract/guide/{name}": {
            "get": {
                "operationId": "api.v1.contract.guide",
                "summary": "api.v1.contract.guide",
                "x-auth": "public",
                "x-access-window": false,
                "x-rate-limit": "kiosk",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/contract/version": {
            "get": {
                "operationId": "api.v1.contract.version",
                "summary": "api.v1.contract.version",
                "x-auth": "public",
                "x-access-window": false,
                "x-rate-limit": "kiosk",
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/features": {
            "get": {
                "operationId": "api.v1.features",
                "summary": "api.v1.features",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "features": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "enabled": {
                                                        "type": "boolean"
                                                    },
                                                    "key": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "sort_order": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        },
                                        "flags": {
                                            "type": "object",
                                            "properties": {
                                                "gps_tracking": {
                                                    "type": "boolean"
                                                },
                                                "kiosk_map": {
                                                    "type": "boolean"
                                                },
                                                "leaderboard": {
                                                    "type": "boolean"
                                                },
                                                "quest_locations": {
                                                    "type": "boolean"
                                                },
                                                "quiz_system": {
                                                    "type": "boolean"
                                                },
                                                "workflow_timers": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/guide/user": {
            "get": {
                "operationId": "api.v1.guide.user",
                "summary": "api.v1.guide.user",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "sections": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "icon": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "lines": {
                                                        "type": "array",
                                                        "items": {
                                                            "description": "nested"
                                                        }
                                                    },
                                                    "sort_order": {
                                                        "type": "integer"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "updated_at": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "updated_at": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/hero-slides": {
            "get": {
                "operationId": "api.v1.hero-slides",
                "summary": "api.v1.hero-slides",
                "x-auth": "public",
                "x-access-window": false,
                "x-rate-limit": "kiosk",
                "responses": {
                    "200": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "count": {
                                            "type": "integer"
                                        },
                                        "slides": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "background_gradient": {
                                                        "type": "string"
                                                    },
                                                    "background_image": {
                                                        "type": "string"
                                                    },
                                                    "button_color": {
                                                        "type": "string"
                                                    },
                                                    "button_style": {
                                                        "type": "string"
                                                    },
                                                    "icon_svg": {
                                                        "nullable": true
                                                    },
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "order": {
                                                        "type": "integer"
                                                    },
                                                    "primary_button": {
                                                        "nullable": true
                                                    },
                                                    "secondary_button": {
                                                        "nullable": true
                                                    },
                                                    "show_overlay": {
                                                        "type": "boolean"
                                                    },
                                                    "subtitle": {
                                                        "nullable": true
                                                    },
                                                    "text_color": {
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "nullable": true
                                                    },
                                                    "updated_at": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/indoor-map/{id?}": {
            "get": {
                "operationId": "api.v1.indoor-map",
                "summary": "api.v1.indoor-map",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/map/routes": {
            "get": {
                "operationId": "api.v1.map.routes",
                "summary": "api.v1.map.routes",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "routes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "color": {
                                                        "type": "string"
                                                    },
                                                    "distance_m": {
                                                        "type": "integer"
                                                    },
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "markers": {
                                                        "type": "array",
                                                        "items": {
                                                            "description": "unknown: the live response was empty"
                                                        }
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "points": {
                                                        "type": "array",
                                                        "items": {
                                                            "description": "nested"
                                                        }
                                                    },
                                                    "quest_location_ids": {
                                                        "type": "array",
                                                        "items": {
                                                            "description": "nested"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/offline/manifest": {
            "get": {
                "operationId": "api.v1.offline.manifest",
                "summary": "api.v1.offline.manifest",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "bounds": {
                                            "type": "object",
                                            "properties": {
                                                "east": {
                                                    "type": "number"
                                                },
                                                "north": {
                                                    "type": "number"
                                                },
                                                "south": {
                                                    "type": "number"
                                                },
                                                "west": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "content_updated_at": {
                                            "type": "string"
                                        },
                                        "counts": {
                                            "type": "object",
                                            "properties": {
                                                "game_locations": {
                                                    "type": "integer"
                                                },
                                                "images": {
                                                    "type": "integer"
                                                },
                                                "models": {
                                                    "type": "integer"
                                                },
                                                "pages": {
                                                    "type": "integer"
                                                },
                                                "quest_locations": {
                                                    "type": "integer"
                                                },
                                                "routes": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "game_locations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "access_mode": {
                                                        "type": "string"
                                                    },
                                                    "coordinate_source": {
                                                        "type": "string"
                                                    },
                                                    "experience_type": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "latitude": {
                                                        "nullable": true
                                                    },
                                                    "longitude": {
                                                        "nullable": true
                                                    },
                                                    "model": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "quest_location_id": {
                                                        "nullable": true
                                                    },
                                                    "radius": {
                                                        "type": "integer"
                                                    },
                                                    "scene": {
                                                        "type": "object",
                                                        "properties": {
                                                            "location": {
                                                                "description": "nested"
                                                            },
                                                            "objects": {
                                                                "description": "nested"
                                                            }
                                                        }
                                                    },
                                                    "uses_ar": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "images": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "indoor_map": {
                                            "type": "object",
                                            "properties": {
                                                "map": {
                                                    "type": "object",
                                                    "properties": {
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "image": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "spots": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "color": {
                                                                "description": "nested"
                                                            },
                                                            "content": {
                                                                "description": "nested"
                                                            },
                                                            "game_location_id": {
                                                                "description": "nested"
                                                            },
                                                            "id": {
                                                                "description": "nested"
                                                            },
                                                            "image": {
                                                                "description": "nested"
                                                            },
                                                            "is_open": {
                                                                "description": "nested"
                                                            },
                                                            "is_post": {
                                                                "description": "nested"
                                                            },
                                                            "name": {
                                                                "description": "nested"
                                                            },
                                                            "shape": {
                                                                "description": "nested"
                                                            },
                                                            "size": {
                                                                "description": "nested"
                                                            },
                                                            "x": {
                                                                "description": "nested"
                                                            },
                                                            "y": {
                                                                "description": "nested"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "map": {
                                            "type": "object",
                                            "properties": {
                                                "attribution": {
                                                    "type": "string"
                                                },
                                                "max_zoom": {
                                                    "type": "integer"
                                                },
                                                "tiles": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "models": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "offline_crypto": {
                                            "type": "object",
                                            "properties": {
                                                "cipher": {
                                                    "type": "string"
                                                },
                                                "iterations": {
                                                    "type": "integer"
                                                },
                                                "kdf": {
                                                    "type": "string"
                                                },
                                                "salt": {
                                                    "type": "string"
                                                },
                                                "version": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "pages": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "quest_locations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "latitude": {
                                                        "type": "number"
                                                    },
                                                    "longitude": {
                                                        "type": "number"
                                                    },
                                                    "marker_color": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "radius": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        },
                                        "questionnaires": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "assets": {
                                                        "type": "array",
                                                        "items": {
                                                            "description": "nested"
                                                        }
                                                    },
                                                    "counts_toward_finish": {
                                                        "type": "boolean"
                                                    },
                                                    "end_date": {
                                                        "type": "string"
                                                    },
                                                    "game_location_id": {
                                                        "type": "integer"
                                                    },
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "qr_hash": {
                                                        "type": "string"
                                                    },
                                                    "quest_location_id": {
                                                        "nullable": true
                                                    },
                                                    "question_count": {
                                                        "type": "integer"
                                                    },
                                                    "sealed": {
                                                        "type": "object",
                                                        "properties": {
                                                            "ciphertext": {
                                                                "description": "nested"
                                                            },
                                                            "nonce": {
                                                                "description": "nested"
                                                            }
                                                        }
                                                    },
                                                    "start_date": {
                                                        "type": "string"
                                                    },
                                                    "time_limit": {
                                                        "type": "integer"
                                                    },
                                                    "venue_mode": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "race_reset_at": {
                                            "type": "string"
                                        },
                                        "routes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "color": {
                                                        "type": "string"
                                                    },
                                                    "distance_m": {
                                                        "type": "integer"
                                                    },
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "markers": {
                                                        "type": "array",
                                                        "items": {
                                                            "description": "unknown: the live response was empty"
                                                        }
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "points": {
                                                        "type": "array",
                                                        "items": {
                                                            "description": "nested"
                                                        }
                                                    },
                                                    "quest_location_ids": {
                                                        "type": "array",
                                                        "items": {
                                                            "description": "nested"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "user_guide": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "icon": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "lines": {
                                                        "type": "array",
                                                        "items": {
                                                            "description": "nested"
                                                        }
                                                    },
                                                    "sort_order": {
                                                        "type": "integer"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "updated_at": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/offline/questionnaires/{questionnaire}/assets/{ref}": {
            "get": {
                "operationId": "api.v1.offline.questionnaire-asset",
                "summary": "api.v1.offline.questionnaire-asset",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "questionnaire",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ref",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/participants": {
            "get": {
                "operationId": "api.v1.participants.search",
                "summary": "api.v1.participants.search",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 100,
                            "x-laravel-rules": "required|string|min:2|max:100"
                        }
                    }
                ],
                "responses": {
                    "422": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "object",
                                            "properties": {
                                                "q": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/qr/lookup": {
            "post": {
                "operationId": "api.v1.qr.lookup",
                "summary": "api.v1.qr.lookup",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "qr_code": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "x-laravel-rules": "required|string|max:255"
                                    }
                                },
                                "required": [
                                    "qr_code"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quest-locations": {
            "get": {
                "operationId": "api.v1.quest.list",
                "summary": "api.v1.quest.list",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "locations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "check_ins_count": {
                                                        "type": "integer"
                                                    },
                                                    "checked_in": {
                                                        "type": "boolean"
                                                    },
                                                    "created_at": {
                                                        "type": "string"
                                                    },
                                                    "created_by": {
                                                        "type": "integer"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "distance": {
                                                        "nullable": true
                                                    },
                                                    "google_map_embed_url": {
                                                        "nullable": true
                                                    },
                                                    "icon": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "image_path": {
                                                        "nullable": true
                                                    },
                                                    "image_url": {
                                                        "nullable": true
                                                    },
                                                    "is_active": {
                                                        "type": "boolean"
                                                    },
                                                    "last_checked_at": {
                                                        "nullable": true
                                                    },
                                                    "latitude": {
                                                        "type": "string"
                                                    },
                                                    "longitude": {
                                                        "type": "string"
                                                    },
                                                    "map_image_path": {
                                                        "nullable": true
                                                    },
                                                    "map_image_url": {
                                                        "nullable": true
                                                    },
                                                    "marker_color": {
                                                        "type": "string"
                                                    },
                                                    "max_check_ins_per_user": {
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "quest_points": {
                                                        "type": "integer"
                                                    },
                                                    "radius": {
                                                        "type": "integer"
                                                    },
                                                    "updated_at": {
                                                        "type": "string"
                                                    },
                                                    "what_to_do": {
                                                        "type": "string"
                                                    },
                                                    "within_radius": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "pagination": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "total_points": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/quest-locations/checkin": {
            "post": {
                "operationId": "api.v1.quest.checkin",
                "summary": "api.v1.quest.checkin",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "accuracy": {
                                        "nullable": true,
                                        "type": "number",
                                        "minimum": 0,
                                        "x-laravel-rules": "nullable|numeric|min:0"
                                    },
                                    "device_info": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 255,
                                        "x-laravel-rules": "nullable|string|max:255"
                                    },
                                    "location_id": {
                                        "type": "integer",
                                        "description": "Must already exist: quest_locations,id",
                                        "x-laravel-rules": "required|exists:quest_locations,id"
                                    },
                                    "user_latitude": {
                                        "type": "number",
                                        "x-laravel-rules": "required|numeric"
                                    },
                                    "user_longitude": {
                                        "type": "number",
                                        "x-laravel-rules": "required|numeric"
                                    }
                                },
                                "required": [
                                    "location_id",
                                    "user_latitude",
                                    "user_longitude"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quest-locations/get-route": {
            "post": {
                "operationId": "api.v1.quest.route",
                "summary": "api.v1.quest.route",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "accuracy": {
                                        "nullable": true,
                                        "type": "number",
                                        "minimum": 0,
                                        "x-laravel-rules": "nullable|numeric|min:0"
                                    },
                                    "device_info": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 255,
                                        "x-laravel-rules": "nullable|string|max:255"
                                    },
                                    "location_id": {
                                        "type": "integer",
                                        "description": "Must already exist: quest_locations,id",
                                        "x-laravel-rules": "required|exists:quest_locations,id"
                                    },
                                    "user_latitude": {
                                        "type": "number",
                                        "x-laravel-rules": "required|numeric"
                                    },
                                    "user_longitude": {
                                        "type": "number",
                                        "x-laravel-rules": "required|numeric"
                                    }
                                },
                                "required": [
                                    "location_id",
                                    "user_latitude",
                                    "user_longitude"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quiz/assessments/{assessmentId}": {
            "get": {
                "operationId": "api.v1.quiz.assessment",
                "summary": "api.v1.quiz.assessment",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "assessmentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            },
            "post": {
                "operationId": "api.v1.quiz.assess",
                "summary": "api.v1.quiz.assess",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "assessmentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "additional_points": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "x-laravel-rules": "required|integer|min:0"
                                    },
                                    "facilitator_photo": {
                                        "type": "string",
                                        "x-laravel-rules": "required|string"
                                    },
                                    "facilitator_pin": {
                                        "type": "string",
                                        "maxLength": 8,
                                        "x-laravel-rules": "required|string|max:8"
                                    },
                                    "notes": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 1000,
                                        "x-laravel-rules": "nullable|string|max:1000"
                                    },
                                    "penalty": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 0,
                                        "x-laravel-rules": "required|integer|min:0|max:"
                                    }
                                },
                                "required": [
                                    "additional_points",
                                    "facilitator_photo",
                                    "facilitator_pin",
                                    "penalty"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quiz/assessments/{assessmentId}/verify-pin": {
            "post": {
                "operationId": "api.v1.quiz.assessment.verify-pin",
                "summary": "api.v1.quiz.assessment.verify-pin",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "assessmentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "facilitator_pin": {
                                        "type": "string",
                                        "maxLength": 8,
                                        "x-laravel-rules": "required|string|max:8"
                                    }
                                },
                                "required": [
                                    "facilitator_pin"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quiz/attempts": {
            "get": {
                "operationId": "api.v1.quiz.attempts",
                "summary": "api.v1.quiz.attempts",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "nullable": true,
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100,
                            "x-laravel-rules": "nullable|integer|min:1|max:100"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "attempts": {
                                            "type": "array",
                                            "items": {
                                                "description": "unknown: the live response was empty"
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "total_attempts": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/quiz/attempts/{attemptId}": {
            "get": {
                "operationId": "api.v1.quiz.attempt-result",
                "summary": "api.v1.quiz.attempt-result",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "attemptId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quiz/complete-game": {
            "post": {
                "operationId": "api.v1.quiz.complete-game",
                "summary": "api.v1.quiz.complete-game",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "attempt_id": {
                                        "type": "integer",
                                        "x-laravel-rules": "required|integer"
                                    },
                                    "question_id": {
                                        "type": "integer",
                                        "x-laravel-rules": "required|integer"
                                    }
                                },
                                "required": [
                                    "attempt_id",
                                    "question_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quiz/continue/{attemptId}": {
            "get": {
                "operationId": "api.v1.quiz.continue",
                "summary": "api.v1.quiz.continue",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "attemptId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quiz/photo-answer": {
            "post": {
                "operationId": "api.v1.quiz.photo-answer",
                "summary": "api.v1.quiz.photo-answer",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "attempt_id": {
                                        "type": "integer",
                                        "x-laravel-rules": "required|integer"
                                    },
                                    "photo": {
                                        "type": "string",
                                        "x-laravel-rules": "required|string"
                                    },
                                    "question_id": {
                                        "type": "integer",
                                        "x-laravel-rules": "required|integer"
                                    }
                                },
                                "required": [
                                    "attempt_id",
                                    "photo",
                                    "question_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quiz/save-answer": {
            "post": {
                "operationId": "api.v1.quiz.save-answer",
                "summary": "api.v1.quiz.save-answer",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "answer": {
                                        "nullable": true,
                                        "type": "string",
                                        "x-laravel-rules": "nullable|string"
                                    },
                                    "answers": {
                                        "nullable": true,
                                        "type": "array",
                                        "maximum": 0,
                                        "x-laravel-rules": "nullable|array|max:"
                                    },
                                    "answers.*": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 0,
                                        "x-laravel-rules": "nullable|string|max:"
                                    },
                                    "attempt_id": {
                                        "type": "integer",
                                        "x-laravel-rules": "required|integer"
                                    },
                                    "question_id": {
                                        "type": "integer",
                                        "x-laravel-rules": "required|integer"
                                    }
                                },
                                "required": [
                                    "attempt_id",
                                    "question_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quiz/start/{questionnaireId}": {
            "get": {
                "operationId": "api.v1.quiz.start",
                "summary": "api.v1.quiz.start",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "questionnaireId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quiz/submit": {
            "post": {
                "operationId": "api.v1.quiz.submit",
                "summary": "api.v1.quiz.submit",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "attempt_id": {
                                        "type": "integer",
                                        "x-laravel-rules": "required|integer"
                                    },
                                    "verification_photo": {
                                        "type": "string",
                                        "x-laravel-rules": "required|string"
                                    }
                                },
                                "required": [
                                    "attempt_id",
                                    "verification_photo"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quiz/timer/{attemptId}": {
            "get": {
                "operationId": "api.v1.quiz.timer",
                "summary": "api.v1.quiz.timer",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "attemptId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/race/clue/{map}": {
            "post": {
                "operationId": "api.v1.race.clue",
                "summary": "api.v1.race.clue",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "map",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
[...]
