{
    "openapi": "3.0.3",
    "info": {
        "title": "Questerra — player API",
        "version": "v1",
        "description": "Generated by tools/openapi-gen.php from the running router, the controllers'\nvalidate() rules, and a live probe of GET responses. Do not edit by hand: the\nhand-written contract drifted, which is why this file exists.\n\nSemantics a schema cannot carry — that submit stays open after time_expired, that\nfun_game answers score zero, the minimum interval between position posts — live in\nAPK-BUILD-GUIDE.md and still have to be read."
    },
    "servers": [
        {
            "url": "https://questerra-series.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "description": "Laravel Sanctum personal access token"
            }
        }
    },
    "paths": {
        "/api/v1/ar/locations/{id}": {
            "get": {
                "operationId": "api.v1.ar.location",
                "summary": "api.v1.ar.location",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/auth/login": {
            "post": {
                "operationId": "api.v1.auth.login",
                "summary": "api.v1.auth.login",
                "x-auth": "public",
                "x-access-window": false,
                "x-rate-limit": "auth",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "device_name": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 120,
                                        "x-laravel-rules": "nullable|string|max:120"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "x-laravel-rules": "required|email"
                                    },
                                    "password": {
                                        "type": "string",
                                        "x-laravel-rules": "required|string"
                                    }
                                },
                                "required": [
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "operationId": "api.v1.auth.logout",
                "summary": "api.v1.auth.logout",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/auth/me": {
            "get": {
                "operationId": "api.v1.auth.me",
                "summary": "api.v1.auth.me",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "access_window_ends_at": {
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "user": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "role": {
                                                    "type": "string"
                                                },
                                                "team_id": {
                                                    "nullable": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/branding": {
            "get": {
                "operationId": "api.v1.branding",
                "summary": "api.v1.branding",
                "x-auth": "public",
                "x-access-window": false,
                "x-rate-limit": "kiosk",
                "responses": {
                    "200": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "branding": {
                                            "type": "object",
                                            "properties": {
                                                "app_name": {
                                                    "type": "string"
                                                },
                                                "logo_icon": {
                                                    "type": "string"
                                                },
                                                "logo_wide": {
                                                    "type": "string"
                                                },
                                                "tagline": {
                                                    "type": "string"
                                                },
                                                "theme_color": {
                                                    "type": "string"
                                                },
                                                "version": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/features": {
            "get": {
                "operationId": "api.v1.features",
                "summary": "api.v1.features",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "features": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "enabled": {
                                                        "type": "boolean"
                                                    },
                                                    "key": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "sort_order": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        },
                                        "flags": {
                                            "type": "object",
                                            "properties": {
                                                "dashboard_quick_stat_average_score": {
                                                    "type": "boolean"
                                                },
                                                "dashboard_quick_stat_completed": {
                                                    "type": "boolean"
                                                },
                                                "dashboard_quick_stat_streak": {
                                                    "type": "boolean"
                                                },
                                                "dashboard_quick_stat_total_time": {
                                                    "type": "boolean"
                                                },
                                                "dashboard_quick_stats": {
                                                    "type": "boolean"
                                                },
                                                "dashboard_stat_average_points": {
                                                    "type": "boolean"
                                                },
                                                "dashboard_stat_completed": {
                                                    "type": "boolean"
                                                },
                                                "dashboard_stat_completion_rate": {
                                                    "type": "boolean"
                                                },
                                                "dashboard_stat_history": {
                                                    "type": "boolean"
                                                },
                                                "dashboard_stat_total_attempts": {
                                                    "type": "boolean"
                                                },
                                                "dashboard_stat_total_score": {
                                                    "type": "boolean"
                                                },
                                                "game_dashboard": {
                                                    "type": "boolean"
                                                },
                                                "gps_tracking": {
                                                    "type": "boolean"
                                                },
                                                "leaderboard": {
                                                    "type": "boolean"
                                                },
                                                "notifications": {
                                                    "type": "boolean"
                                                },
                                                "quest_locations": {
                                                    "type": "boolean"
                                                },
                                                "quiz_system": {
                                                    "type": "boolean"
                                                },
                                                "team_management": {
                                                    "type": "boolean"
                                                },
                                                "user_dashboard_session_timer": {
                                                    "type": "boolean"
                                                },
                                                "user_dashboard_stats": {
                                                    "type": "boolean"
                                                },
                                                "workflow_timers": {
                                                    "type": "boolean"
                                                }
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/hero-slides": {
            "get": {
                "operationId": "api.v1.hero-slides",
                "summary": "api.v1.hero-slides",
                "x-auth": "public",
                "x-access-window": false,
                "x-rate-limit": "kiosk",
                "responses": {
                    "200": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "count": {
                                            "type": "integer"
                                        },
                                        "slides": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "background_gradient": {
                                                        "type": "string"
                                                    },
                                                    "background_image": {
                                                        "type": "string"
                                                    },
                                                    "button_color": {
                                                        "type": "string"
                                                    },
                                                    "button_style": {
                                                        "type": "string"
                                                    },
                                                    "icon_svg": {
                                                        "nullable": true
                                                    },
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "order": {
                                                        "type": "integer"
                                                    },
                                                    "primary_button": {
                                                        "type": "object",
                                                        "properties": {
                                                            "text": {
                                                                "description": "nested"
                                                            },
                                                            "url": {
                                                                "description": "nested"
                                                            }
                                                        }
                                                    },
                                                    "secondary_button": {
                                                        "nullable": true
                                                    },
                                                    "subtitle": {
                                                        "type": "string"
                                                    },
                                                    "text_color": {
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "updated_at": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/indoor-map/{id?}": {
            "get": {
                "operationId": "api.v1.indoor-map",
                "summary": "api.v1.indoor-map",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/offline/manifest": {
            "get": {
                "operationId": "api.v1.offline.manifest",
                "summary": "api.v1.offline.manifest",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "bounds": {
                                            "type": "object",
                                            "properties": {
                                                "east": {
                                                    "type": "number"
                                                },
                                                "north": {
                                                    "type": "number"
                                                },
                                                "south": {
                                                    "type": "number"
                                                },
                                                "west": {
                                                    "type": "number"
                                                }
                                            }
                                        },
                                        "counts": {
                                            "type": "object",
                                            "properties": {
                                                "game_locations": {
                                                    "type": "integer"
                                                },
                                                "images": {
                                                    "type": "integer"
                                                },
                                                "models": {
                                                    "type": "integer"
                                                },
                                                "pages": {
                                                    "type": "integer"
                                                },
                                                "quest_locations": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "game_locations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "coordinate_source": {
                                                        "type": "string"
                                                    },
                                                    "experience_type": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "latitude": {
                                                        "nullable": true
                                                    },
                                                    "longitude": {
                                                        "nullable": true
                                                    },
                                                    "model": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "quest_location_id": {
                                                        "nullable": true
                                                    },
                                                    "radius": {
                                                        "type": "integer"
                                                    },
                                                    "uses_ar": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "images": {
                                            "type": "array",
                                            "items": {
                                                "description": "unknown: the live response was empty"
                                            }
                                        },
                                        "models": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "pages": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "quest_locations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "latitude": {
                                                        "type": "number"
                                                    },
                                                    "longitude": {
                                                        "type": "number"
                                                    },
                                                    "marker_color": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "radius": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/qr/lookup": {
            "post": {
                "operationId": "api.v1.qr.lookup",
                "summary": "api.v1.qr.lookup",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "qr_code": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "x-laravel-rules": "required|string|max:255"
                                    }
                                },
                                "required": [
                                    "qr_code"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quest-locations": {
            "get": {
                "operationId": "api.v1.quest.list",
                "summary": "api.v1.quest.list",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "locations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "check_ins_count": {
                                                        "type": "integer"
                                                    },
                                                    "checked_in": {
                                                        "type": "boolean"
                                                    },
                                                    "created_at": {
                                                        "type": "string"
                                                    },
                                                    "created_by": {
                                                        "type": "integer"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "distance": {
                                                        "nullable": true
                                                    },
                                                    "google_map_embed_url": {
                                                        "nullable": true
                                                    },
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "image_path": {
                                                        "nullable": true
                                                    },
                                                    "is_active": {
                                                        "type": "boolean"
                                                    },
                                                    "last_checked_at": {
                                                        "type": "string"
                                                    },
                                                    "latitude": {
                                                        "type": "string"
                                                    },
                                                    "longitude": {
                                                        "type": "string"
                                                    },
                                                    "map_image_path": {
                                                        "nullable": true
                                                    },
                                                    "marker_color": {
                                                        "type": "string"
                                                    },
                                                    "max_check_ins_per_user": {
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "quest_points": {
                                                        "type": "integer"
                                                    },
                                                    "radius": {
                                                        "type": "integer"
                                                    },
                                                    "updated_at": {
                                                        "type": "string"
                                                    },
                                                    "what_to_do": {
                                                        "type": "string"
                                                    },
                                                    "within_radius": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "pagination": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "total_points": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/quest-locations/checkin": {
            "post": {
                "operationId": "api.v1.quest.checkin",
                "summary": "api.v1.quest.checkin",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "accuracy": {
                                        "nullable": true,
                                        "type": "number",
                                        "minimum": 0,
                                        "x-laravel-rules": "nullable|numeric|min:0"
                                    },
                                    "device_info": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 255,
                                        "x-laravel-rules": "nullable|string|max:255"
                                    },
                                    "location_id": {
                                        "type": "integer",
                                        "description": "Must already exist: quest_locations,id",
                                        "x-laravel-rules": "required|exists:quest_locations,id"
                                    },
                                    "user_latitude": {
                                        "type": "number",
                                        "x-laravel-rules": "required|numeric"
                                    },
                                    "user_longitude": {
                                        "type": "number",
                                        "x-laravel-rules": "required|numeric"
                                    }
                                },
                                "required": [
                                    "location_id",
                                    "user_latitude",
                                    "user_longitude"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quest-locations/get-route": {
            "post": {
                "operationId": "api.v1.quest.route",
                "summary": "api.v1.quest.route",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "accuracy": {
                                        "nullable": true,
                                        "type": "number",
                                        "minimum": 0,
                                        "x-laravel-rules": "nullable|numeric|min:0"
                                    },
                                    "device_info": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 255,
                                        "x-laravel-rules": "nullable|string|max:255"
                                    },
                                    "location_id": {
                                        "type": "integer",
                                        "description": "Must already exist: quest_locations,id",
                                        "x-laravel-rules": "required|exists:quest_locations,id"
                                    },
                                    "user_latitude": {
                                        "type": "number",
                                        "x-laravel-rules": "required|numeric"
                                    },
                                    "user_longitude": {
                                        "type": "number",
                                        "x-laravel-rules": "required|numeric"
                                    }
                                },
                                "required": [
                                    "location_id",
                                    "user_latitude",
                                    "user_longitude"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quiz/complete-game": {
            "post": {
                "operationId": "api.v1.quiz.complete-game",
                "summary": "api.v1.quiz.complete-game",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "attempt_id": {
                                        "type": "integer",
                                        "x-laravel-rules": "required|integer"
                                    },
                                    "question_id": {
                                        "type": "integer",
                                        "x-laravel-rules": "required|integer"
                                    }
                                },
                                "required": [
                                    "attempt_id",
                                    "question_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quiz/continue/{attemptId}": {
            "get": {
                "operationId": "api.v1.quiz.continue",
                "summary": "api.v1.quiz.continue",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "attemptId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quiz/save-answer": {
            "post": {
                "operationId": "api.v1.quiz.save-answer",
                "summary": "api.v1.quiz.save-answer",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "answer": {
                                        "nullable": true,
                                        "type": "string",
                                        "x-laravel-rules": "nullable|string"
                                    },
                                    "attempt_id": {
                                        "type": "integer",
                                        "x-laravel-rules": "required|integer"
                                    },
                                    "question_id": {
                                        "type": "integer",
                                        "x-laravel-rules": "required|integer"
                                    }
                                },
                                "required": [
                                    "attempt_id",
                                    "question_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quiz/start/{questionnaireId}": {
            "get": {
                "operationId": "api.v1.quiz.start",
                "summary": "api.v1.quiz.start",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "questionnaireId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quiz/submit": {
            "post": {
                "operationId": "api.v1.quiz.submit",
                "summary": "api.v1.quiz.submit",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "attempt_id": {
                                        "type": "integer",
                                        "x-laravel-rules": "required|integer"
                                    },
                                    "verification_photo": {
                                        "type": "string",
                                        "x-laravel-rules": "required|string"
                                    }
                                },
                                "required": [
                                    "attempt_id",
                                    "verification_photo"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/quiz/timer/{attemptId}": {
            "get": {
                "operationId": "api.v1.quiz.timer",
                "summary": "api.v1.quiz.timer",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "attemptId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/race/clue/{map}": {
            "post": {
                "operationId": "api.v1.race.clue",
                "summary": "api.v1.race.clue",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "map",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "answer": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "x-laravel-rules": "required|string|max:255"
                                    }
                                },
                                "required": [
                                    "answer"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/race/start": {
            "post": {
                "operationId": "api.v1.race.start",
                "summary": "api.v1.race.start",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "maxLength": 255,
                                        "x-laravel-rules": "required|string|max:255"
                                    }
                                },
                                "required": [
                                    "code"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/race/status": {
            "get": {
                "operationId": "api.v1.race.status",
                "summary": "api.v1.race.status",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "race": {
                                            "nullable": true
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/team": {
            "get": {
                "operationId": "api.v1.team.show",
                "summary": "api.v1.team.show",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Observed on a live probe",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "success": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "api.v1.team.store",
                "summary": "api.v1.team.store",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "department": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 100,
                                        "x-laravel-rules": "nullable|string|max:100"
                                    },
                                    "description": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 500,
                                        "x-laravel-rules": "nullable|string|max:500"
                                    },
                                    "members": {
                                        "type": "array",
                                        "minimum": 1,
                                        "maximum": 20,
                                        "x-laravel-rules": "required|array|min:1|max:20"
                                    },
                                    "members.*.email": {
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 150,
                                        "x-laravel-rules": "required|email|max:150"
                                    },
                                    "members.*.name": {
                                        "type": "string",
                                        "maxLength": 100,
                                        "x-laravel-rules": "required|string|max:100"
                                    },
                                    "members.*.phone": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 30,
                                        "x-laravel-rules": "nullable|string|max:30"
                                    },
                                    "members.*.position": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 100,
                                        "x-laravel-rules": "nullable|string|max:100"
                                    },
                                    "name": {
                                        "type": "string",
                                        "minLength": 3,
                                        "maxLength": 100,
                                        "x-laravel-rules": "required|string|min:3|max:100"
                                    }
                                },
                                "required": [
                                    "members",
                                    "members.*.email",
                                    "members.*.name",
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/team/members": {
            "post": {
                "operationId": "api.v1.team.members.add",
                "summary": "api.v1.team.members.add",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "maxLength": 150,
                                        "x-laravel-rules": "required|email|max:150"
                                    },
                                    "name": {
                                        "type": "string",
                                        "maxLength": 100,
                                        "x-laravel-rules": "required|string|max:100"
                                    },
                                    "phone": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 30,
                                        "x-laravel-rules": "nullable|string|max:30"
                                    },
                                    "position": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 100,
                                        "x-laravel-rules": "nullable|string|max:100"
                                    }
                                },
                                "required": [
                                    "email",
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/team/members/{member}": {
            "delete": {
                "operationId": "api.v1.team.members.remove",
                "summary": "api.v1.team.members.remove",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "api",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        },
        "/api/v1/tracking/position": {
            "post": {
                "operationId": "api.v1.tracking.position",
                "summary": "api.v1.tracking.position",
                "x-auth": "sanctum-bearer",
                "x-access-window": true,
                "x-rate-limit": "tracking",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "accuracy": {
                                        "nullable": true,
                                        "type": "number",
                                        "minimum": 0,
                                        "x-laravel-rules": "nullable|numeric|min:0"
                                    },
                                    "device_info": {
                                        "nullable": true,
                                        "type": "string",
                                        "maxLength": 255,
                                        "x-laravel-rules": "nullable|string|max:255"
                                    },
                                    "latitude": {
                                        "type": "number",
                                        "minimum": -90,
                                        "maximum": 90,
                                        "x-laravel-rules": "required|numeric|between:-90,90"
                                    },
                                    "longitude": {
                                        "type": "number",
                                        "minimum": -180,
                                        "maximum": 180,
                                        "x-laravel-rules": "required|numeric|between:-180,180"
                                    }
                                },
                                "required": [
                                    "latitude",
                                    "longitude"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Not probed — POST endpoints are not called by the generator"
                    }
                }
            }
        }
    }
}
